{% extends 'recruiterbase.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <main role="main" class="col-md-12 ml-lg-auto  col-lg-10 px-4 ">
        <div class="d-none d-lg-block">
            <nav class="navbar  navbar-light fixed-top fine border-bottom">
                <h5>Source for Developers</h5>
                <ul class="nav ml-auto">
                    {% if request.user.is_authenticated %}


                        <li class="nav-item">
                            <a href="{% url 'account_logout' %}" style="color: black" class="nav-link">Logout</a>
                        </li>

                    {% else %}

                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" style="color: black" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" style="color: black" class="nav-link">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        <!-----md devices adaptation------>
        <div class="container d-lg-none">
            <nav class=" navbar loginbar navbar-expand-md navbar-light fixed-top ">
                <h5 style="color: white">Source for Developers</h5>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <span style="color: white" data-feather="menu"></span>
                </span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'frontend:my-activity' %}">Ongoing tests</a>
                                <a class="dropdown-item" href="{% url 'projects:categories' %}">Create a test</a>
                                <a class="dropdown-item" href="{% url 'transactions:sourcing' %}">Source candidates</a>
                            </div>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a href="/home" style="color: white" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_logout' %}" style="color: white" class="nav-link">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'account_login' %}" style="color: white" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_signup' %}" style="color: white" class="nav-link">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>

        <div class="d-none d-lg-block" style="margin-top: 8%">

        </div>

        <div class="d-lg-none" style="margin-top: 5em">

        </div>
        <div class="shadow-lg p-3 mb-5 bg-white ">
            {% if new_job %}
                <h2>Your job has been added!</h2>
            {% else %}
                <h2>Add a New Job</h2>
                <form action="." method="post" class="form">
                    {{ job_form.as_p }}
                    {% csrf_token %}
                    <p><input class="btn theme--dark primary " style="border-radius: 0; margin: auto; color: white" type="submit" value="Add Job"></p>
                </form>
            {% endif %}
        </div>


    </main>
{% endblock %}