{% extends 'candidatesbase.html' %}
{% load bootstrap4 %}
{% block title %}
    recruiter dashboard
{% endblock %}
{% load static %}
{% block content %}
    <main role="main" class="col-md-12 col-lg-10 ml-lg-auto   px-4 ">
        <div class="d-none d-lg-block">
            <nav class="navbar  navbar-light fixed-top fine border-bottom">
                <h5>Home</h5>
                <ul class="nav ml-auto">


                    {% if request.user.is_authenticated %}


                        <li class="nav-item">
                            <a href="{% url 'account_logout' %}" style="color: black" class="nav-link">Logout</a>
                        </li>

                    {% else %}

                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" style="color: black" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" style="color: black" class="nav-link">Register</a>
                        </li>
                    {% endif %}


                </ul>
            </nav>
        </div>

        <!-----md devices adaptation------>
        <div class="container d-lg-none">
            <nav class=" navbar loginbar navbar-expand-md navbar-light fixed-top ">
                <a class="logoadapt h5" style="text-decoration: none" href="/home">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <span style="color: white" data-feather="menu"></span>
                </span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sidebar menu options
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'frontend:inprogress' user.id %}">Ongoing
                                    Projects</a>
                                <a class="dropdown-item" href="/update_profile/">My profile</a>
                            </div>
                        </li>
                        {% if request.user.is_authenticated %}

                            <li class="nav-item">
                                <a href="{% url 'account_logout' %}" style="color: white" class="nav-link">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'account_login' %}" style="color: white" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_signup' %}" style="color: white" class="nav-link">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        <div class="d-none d-lg-block" style="margin-top: 6%">

        </div>
        <div class="d-lg-none" style="margin-top: 7em">

        </div>


        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col mb-2" style="width: 100%;">
                <h1 style="color: #0580c9">{{ job.title }}</h1>

                <p class="date">
                    Job Posted {{ job.created }} by <span
                        style="color: #c69500">{{ job.posted_by }} ({{ job.posted_by.job_role }})</span> of <span
                        style="color: #c91452"><a href="{{ job.posted_by.company_url }}"
                                                  target="_blank">{{ job.posted_by.company }}</a></span>
                </p>

                <h3 style="color: #0580c9">Job Description</h3>
                {{ job.description|linebreaks }}


                <h6 style="text-decoration: underline; color: #0580c9;">Job Role</h6>
                <h6 style="color: #c91452">
                    <td>{{ job.job_role }}</td>
                </h6>

                <h6 style="text-decoration: underline; color: #0580c9;">Developer Experience</h6>
                <h6 style="color: #c91452">
                    <td>{{ job.dev_experience }}</td>
                </h6>

                <h6 style="text-decoration: underline; color: #0580c9;">Engagement Type</h6>
                <h6 style="color: #c91452">
                    <td>{{ job.engagement_type }}</td>
                </h6>

                <h6 style="text-decoration: underline; color: #0580c9;">Tech Stack</h6>
                <h6 style="color: #c91452">
                    <td>{{ job.tech_stack }}</td>
                </h6>

                <h6 style="text-decoration: underline; color: #0580c9;">Remuneration In Dollars</h6>
                <h6 style="color: #c91452">
                    <td>{{ job.remuneration }}</td>
                </h6>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col mb-2" style="width: 100%;">
                <div class="card">
                    <h3 class="text-center" style="text-decoration: underline; color: #0580c9;">Your Candidates</h3>

                    {% if selected_candidates %}
                        {% for dev in selected_candidates %}
                            <div class="card recruithomecard" style="width: 80%;margin: 10%; margin-top: 0%;">
                                <div class="card-body">
                                    <img height="40" width="auto" class="img-fluid" src="/static/frontend/images/devprofile.png"
                                         style="width: 30%; text-align: center; display: block; margin: 0 auto" alt="Card image cap">

                                    <h6 class="card-title text-center"
                                        style="text-align: -webkit-center;">{{ dev.auth_user.first_name }} {{ dev.auth_user.last_name }}</h6>

                                    <p class="text-center"><a href=".">Chat</a></p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text-center" style="color: #c91452">You have not picked any candidate for this job
                            yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>


        <p></p>
        <h4 style="color: #0580c9">New Applicants</h4>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">email</th>
                <th scope="col">Country</th>
                <th scope="col">language</th>
                <th scope="col">Framework</th>
                <th scope="col">Github</th>
                <th scope="col">Linkedin</th>
                <th scope="col">Portfolio</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for dev in applicants %}
                <tr>
                    <td> {{ forloop.counter }} </td>
                    <td>{{ dev.auth_user.first_name }} {{ dev.auth_user.last_name }}</td>
                    <td>{{ dev.auth_user.email }}</td>
                    <td>{{ dev.country.name }}</td>
                    <td>{{ dev.language }}</td>
                    <td>{{ dev.framework }}</td>
                    <td><a href="{{ dev.github }}" target="_blank">github account</a></td>
                    <td><a href="{{ dev.linkedin }}" target="_blank">linkedin</a></td>
                    <td><a href="{{ dev.portfolio }}" target="_blank">portfolio</a></td>
                    <td><a href="{% url 'marketplace:pick_candidate' job.id dev.id %}"><span style="color: #28a745">Pick Candidate</span></a>
                    </td>
                </tr>

            {% endfor %}


            </tbody>
        </table>

        <h4 style="color: #0580c9">Recommended Candidates</h4>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">email</th>
                <th scope="col">Country</th>
                <th scope="col">language</th>
                <th scope="col">Framework</th>
                <th scope="col">Github</th>
                <th scope="col">Linkedin</th>
                <th scope="col">Portfolio</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for dev in recommended %}
                <tr>
                    <td> {{ forloop.counter }} </td>
                    <td>{{ dev.auth_user.first_name }} {{ dev.auth_user.last_name }}</td>
                    <td>{{ dev.auth_user.email }}</td>
                    <td>{{ dev.country.name }}</td>
                    <td>{{ dev.language }}</td>
                    <td>{{ dev.framework }}</td>
                    <td><a href="{{ dev.github }}" target="_blank">github account</a></td>
                    <td><a href="{{ dev.linkedin }}" target="_blank">linkedin</a></td>
                    <td><a href="{{ dev.portfolio }}" target="_blank">portfolio</a></td>
                    <td><a href="{% url 'marketplace:pick_candidate' job.id dev.id %}"><span style="color: #28a745">Pick Candidate</span></a>
                    </td>
                </tr>

            {% endfor %}


            </tbody>
        </table>

        <p class="text-center mt-4">
            <a href="{% url 'marketplace:manage_posted_jobs' %}"><input class="btn theme--dark primary "
                                                                        style="border-radius: 0; margin: auto; color: white"
                                                                        value="Return"></a>
        </p>
    </main>

{% endblock %}